/* ===== พื้นฐาน ===== */
body {
  font-family: 'Inter', sans-serif;
  margin: 0;
}

/* ===== Header ===== */
header {
  background: #111;
  color: white;
  padding: 25px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* ===== ชื่อเว็บ ===== */
header h1 {
  margin: 0;
  font-size: 24px;
}

/* ===== Nav ===== */
nav {
  display: flex;
  gap: 20px;
}

/* ===== เมนู ===== */
nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;

  padding: 6px 14px;
  border: 1px solid transparent;
  border-radius: 10px;

  transition: 0.3s ease;
}

/* ===== hover ===== */
nav a:hover {
  background: white;
  color: black;
  border: 1px solid white;
  transform: translateY(-2px);
}

/* ===== active (ค้างไว้) ===== */
nav a.active {
  background: white;
  color: black;
  border: 1px solid white;
}